body {
  background-color: rgb(182, 207, 209);
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 20px;
  color: goldenrod;
  font-size: 30px;
}
.main {
  background-color: darkcyan;
  max-width: 760px;
  max-height: 550px;
  padding-bottom: 25px;
}
label {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 18px;
}

.head {
  display: flex;
  justify-content: space-between;
}
.b {
  display: flex;
}
.exp-div {
  max-height: 400px;
}
#premium-container2 {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 670px) {
  #premium-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
