body {
  background-color: #fefbf6;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  color: #b67352;
  font-size: 30px;
  text-decoration: underline;
}
.main {
  background-color: #fefbf6;
  max-width: 760px;
  max-height: 500px;
  padding-bottom: 25px;
}
